/**
 * CONTENTS
 *
 * COLOR SYSTEM
 * Color..................Color variables.
 */





/*******************
 #COLOR SYSTEM
*******************/

:root {
/* Colores básicos */
  --color-primary: #C25939;
  --color-secondary: #F2DECF;
  --color-text-primary: #3D182F;
  --color-text-secondary: #000;
  --color-background: #fff;

}
